.container{
	width:100%;
	max-width: 1000px;
	margin:auto;
	text-align: center;
	margin-top:70px;
}
.btn-small{
	display: block;
	padding:5px 8px;
	border: 1px solid;
	margin-top: 10px;
	width: 175px;
	margin-left:auto;
	margin-right: auto;
	cursor: pointer;
}
a.btn{
	text-decoration: none;
	color:black;
	background-image: linear-gradient(to bottom, #e4e4e4, #f7f7f7);
	border: 1px solid #afafaf;
}

.hidden-content{
	display:none;
}

.input-form{
	width: 400px;
	text-align: center;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 30px;
}
.input-form td:first-child{
	text-align: right;
}
.input-form td{
	padding: 1px;
}
.input-form select {
    width: 93%;
}
.input-form-large{
	width: 600px;
}
.input-form-large input, .input-form-large select{
	width: 93%;
}

.header-bar{
    position: fixed;
    top: 0;
    height: 50px;
    background-color: #d9edf7;
    width: 100%;
    padding-left: 50px;
    font-size: 25px;
    line-height: 1.9;
    font-family: "Lucida Console", Monaco, monospace;
}
.footer-bar{
	position: fixed;
	bottom:0;
	text-align: center;
	width:100%;
	padding-bottom:5px;
	padding-top: 5px;
	background-color: #efefef;
}

.error-msg{
	color:red;
}
.report-table-header{
	font-size: 20px;
	font-weight: bold;
}
#report_view_container table, #ocn_container table, #admin_payments_container table{
	width: 80%;
	margin: auto;
	margin-bottom: 100px;
}
#report_view_container td, #ocn_container td, #admin_payments_container td{
    border: 1px solid black;
    padding: 3px;
}


.rating {
    float:left;
    width:180px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}
.view_ads_for{
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}